In [1]:
import pandas as pd

In [2]:
data = pd.read_csv(r'C:\Users\31645\OneDrive\Documents\Ironhack\LABs\lab-customer-analysis-round-2\files_for_lab\csv_files\marketing_customer_analysis.csv')
data

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [3]:
data.columns

Index(['Unnamed: 0', 'Customer', 'State', 'Customer Lifetime Value',
       'Response', 'Coverage', 'Education', 'Effective To Date',
       'EmploymentStatus', 'Gender', 'Income', 'Location Code',
       'Marital Status', 'Monthly Premium Auto', 'Months Since Last Claim',
       'Months Since Policy Inception', 'Number of Open Complaints',
       'Number of Policies', 'Policy Type', 'Policy', 'Renew Offer Type',
       'Sales Channel', 'Total Claim Amount', 'Vehicle Class', 'Vehicle Size',
       'Vehicle Type'],
      dtype='object')

In [4]:
data.columns = data.columns.str.title().str.replace(' ','_')

In [5]:
data.columns

Index(['Unnamed:_0', 'Customer', 'State', 'Customer_Lifetime_Value',
       'Response', 'Coverage', 'Education', 'Effective_To_Date',
       'Employmentstatus', 'Gender', 'Income', 'Location_Code',
       'Marital_Status', 'Monthly_Premium_Auto', 'Months_Since_Last_Claim',
       'Months_Since_Policy_Inception', 'Number_Of_Open_Complaints',
       'Number_Of_Policies', 'Policy_Type', 'Policy', 'Renew_Offer_Type',
       'Sales_Channel', 'Total_Claim_Amount', 'Vehicle_Class', 'Vehicle_Size',
       'Vehicle_Type'],
      dtype='object')

In [6]:
data.dtypes

Unnamed:_0                         int64
Customer                          object
State                             object
Customer_Lifetime_Value          float64
Response                          object
Coverage                          object
Education                         object
Effective_To_Date                 object
Employmentstatus                  object
Gender                            object
Income                             int64
Location_Code                     object
Marital_Status                    object
Monthly_Premium_Auto               int64
Months_Since_Last_Claim          float64
Months_Since_Policy_Inception      int64
Number_Of_Open_Complaints        float64
Number_Of_Policies                 int64
Policy_Type                       object
Policy                            object
Renew_Offer_Type                  object
Sales_Channel                     object
Total_Claim_Amount               float64
Vehicle_Class                     object
Vehicle_Size                      object
Vehicle_Type                      object
dtype: object

In [7]:
data_num = data._get_numeric_data()
data_num

,Unnamed:_0,Customer_Lifetime_Value,Income,Monthly_Premium_Auto,Months_Since_Last_Claim,Months_Since_Policy_Inception,Number_Of_Open_Complaints,Number_Of_Policies,Total_Claim_Amount
0,0,4809.216960,48029,61,7.0,52,0.0,9,292.800000
1,1,2228.525238,0,64,3.0,26,0.0,1,744.924331
2,2,14947.917300,22139,100,34.0,31,0.0,2,480.000000
3,3,22332.439460,49078,97,10.0,3,0.0,2,484.013411
4,4,9025.067525,23675,117,NaN,31,NaN,7,707.925645
...,...,...,...,...,...,...,...,...,...
10905,10905,15563.369440,0,253,NaN,40,NaN,7,1214.400000
10906,10906,5259.444853,61146,65,7.0,68,0.0,6,273.018929
10907,10907,23893.304100,39837,201,11.0,63,0.0,2,381.306996
10908,10908,11971.977650,64195,158,0.0,27,4.0,6,618.288849
10909,10909,6857.519928,0,101,31.0,1,0.0,3,1021.719397

In [8]:
data_categ = data.select_dtypes(exclude = ['int', 'bool'])
data_categ

,Customer,State,Customer_Lifetime_Value,Response,Coverage,Education,Effective_To_Date,Employmentstatus,Gender,Location_Code,...,Months_Since_Last_Claim,Number_Of_Open_Complaints,Policy_Type,Policy,Renew_Offer_Type,Sales_Channel,Total_Claim_Amount,Vehicle_Class,Vehicle_Size,Vehicle_Type
0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,Suburban,...,7.0,0.0,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,Suburban,...,3.0,0.0,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,Suburban,...,34.0,0.0,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,Suburban,...,10.0,0.0,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,Suburban,...,NaN,NaN,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,Suburban,...,NaN,NaN,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,Urban,...,7.0,0.0,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,Rural,...,11.0,0.0,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,Urban,...,0.0,4.0,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,Suburban,...,31.0,0.0,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [9]:
data.isna().sum()

Unnamed:_0                          0
Customer                            0
State                             631
Customer_Lifetime_Value             0
Response                          631
Coverage                            0
Education                           0
Effective_To_Date                   0
Employmentstatus                    0
Gender                              0
Income                              0
Location_Code                       0
Marital_Status                      0
Monthly_Premium_Auto                0
Months_Since_Last_Claim           633
Months_Since_Policy_Inception       0
Number_Of_Open_Complaints         633
Number_Of_Policies                  0
Policy_Type                         0
Policy                              0
Renew_Offer_Type                    0
Sales_Channel                       0
Total_Claim_Amount                  0
Vehicle_Class                     622
Vehicle_Size                      622
Vehicle_Type                     5482
dtype: int64

In [10]:
data['State'] = data['State'].fillna('NA')
data

,Unnamed:_0,Customer,State,Customer_Lifetime_Value,Response,Coverage,Education,Effective_To_Date,Employmentstatus,Gender,...,Number_Of_Open_Complaints,Number_Of_Policies,Policy_Type,Policy,Renew_Offer_Type,Sales_Channel,Total_Claim_Amount,Vehicle_Class,Vehicle_Size,Vehicle_Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,NA,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [11]:
data.isna().sum()

Unnamed:_0                          0
Customer                            0
State                               0
Customer_Lifetime_Value             0
Response                          631
Coverage                            0
Education                           0
Effective_To_Date                   0
Employmentstatus                    0
Gender                              0
Income                              0
Location_Code                       0
Marital_Status                      0
Monthly_Premium_Auto                0
Months_Since_Last_Claim           633
Months_Since_Policy_Inception       0
Number_Of_Open_Complaints         633
Number_Of_Policies                  0
Policy_Type                         0
Policy                              0
Renew_Offer_Type                    0
Sales_Channel                       0
Total_Claim_Amount                  0
Vehicle_Class                     622
Vehicle_Size                      622
Vehicle_Type                     5482
dtype: int64

In [12]:
data['Response'] = data['Response'].fillna('NA')
data

,Unnamed:_0,Customer,State,Customer_Lifetime_Value,Response,Coverage,Education,Effective_To_Date,Employmentstatus,Gender,...,Number_Of_Open_Complaints,Number_Of_Policies,Policy_Type,Policy,Renew_Offer_Type,Sales_Channel,Total_Claim_Amount,Vehicle_Class,Vehicle_Size,Vehicle_Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,NA,6857.519928,NA,Basic,Bachelor,1/8/11,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [13]:
data['Months_Since_Last_Claim'] = data['Months_Since_Last_Claim'].fillna(0)
data['Number_Of_Open_Complaints'] = data['Number_Of_Open_Complaints'].fillna(0)
data['Vehicle_Class'] = data['Vehicle_Class'].fillna('NA')
data['Vehicle_Size'] = data['Vehicle_Size'].fillna('NA')
data['Vehicle_Type'] = data['Vehicle_Type'].fillna('NA')
data.isna().sum()

Unnamed:_0                       0
Customer                         0
State                            0
Customer_Lifetime_Value          0
Response                         0
Coverage                         0
Education                        0
Effective_To_Date                0
Employmentstatus                 0
Gender                           0
Income                           0
Location_Code                    0
Marital_Status                   0
Monthly_Premium_Auto             0
Months_Since_Last_Claim          0
Months_Since_Policy_Inception    0
Number_Of_Open_Complaints        0
Number_Of_Policies               0
Policy_Type                      0
Policy                           0
Renew_Offer_Type                 0
Sales_Channel                    0
Total_Claim_Amount               0
Vehicle_Class                    0
Vehicle_Size                     0
Vehicle_Type                     0
dtype: int64

In [14]:
data

,Unnamed:_0,Customer,State,Customer_Lifetime_Value,Response,Coverage,Education,Effective_To_Date,Employmentstatus,Gender,...,Number_Of_Open_Complaints,Number_Of_Policies,Policy_Type,Policy,Renew_Offer_Type,Sales_Channel,Total_Claim_Amount,Vehicle_Class,Vehicle_Size,Vehicle_Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NA
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NA
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,0.0,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,0.0,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NA
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,NA,6857.519928,NA,Basic,Bachelor,1/8/11,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NA

In [15]:
import datetime
from datetime import date

In [16]:
data['Date'] = pd.to_datetime(data['Effective_To_Date'])
data['Date']
data ['Month'] = data['Date'].dt.strftime('%m')
data ['Month _name'] = data['Date'].dt.strftime('%B')
data

,Unnamed:_0,Customer,State,Customer_Lifetime_Value,Response,Coverage,Education,Effective_To_Date,Employmentstatus,Gender,...,Policy,Renew_Offer_Type,Sales_Channel,Total_Claim_Amount,Vehicle_Class,Vehicle_Size,Vehicle_Type,Date,Month,Month _name
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NA,2011-02-18,02,February
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NA,2011-01-18,01,January
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2011-02-10,02,February
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,2011-01-11,01,January
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NA,2011-01-17,01,January
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A,2011-01-19,01,January
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A,2011-01-06,01,January
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NA,2011-02-06,02,February
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A,2011-02-13,02,February
10909,10909,IV32877,NA,6857.519928,NA,Basic,Bachelor,1/8/11,Unemployed,M,...,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NA,2011-01-08,01,January

In [24]:
data_01 = data[data['Month'] == '01']
data_02 = data[data['Month'] == '02']
data_03 = data[data['Month'] == '03']
data_Q1 = pd.concat([data_01, data_02, data_03], axis =0)
data_Q1

,Unnamed:_0,Customer,State,Customer_Lifetime_Value,Response,Coverage,Education,Effective_To_Date,Employmentstatus,Gender,...,Policy,Renew_Offer_Type,Sales_Channel,Total_Claim_Amount,Vehicle_Class,Vehicle_Size,Vehicle_Type,Date,Month,Month _name
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NA,2011-01-18,01,January
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,2011-01-11,01,January
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NA,2011-01-17,01,January
8,8,FM55990,California,5989.773931,Yes,Premium,College,1/19/11,Employed,M,...,Personal L1,Offer2,Branch,739.200000,Sports Car,Medsize,NA,2011-01-19,01,January
9,9,QX31376,Oregon,17114.328150,No,Extended,Master,1/4/11,Employed,F,...,Corporate L3,Offer2,Agent,408.000000,Four-Door Car,Small,NA,2011-01-04,01,January
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10899,10899,WU60905,California,8610.667489,No,Basic,High School or Below,2/6/11,Unemployed,F,...,Corporate L1,Offer3,Web,532.800000,SUV,Medsize,A,2011-02-06,02,February
10900,10900,VN73653,Oregon,6423.739052,No,Basic,College,2/13/11,Unemployed,M,...,Corporate L2,Offer3,Agent,1621.560425,Luxury SUV,Medsize,NA,2011-02-13,02,February
10904,10904,QI63521,Nevada,19228.463620,No,Basic,High School or Below,2/24/11,Unemployed,M,...,Personal L2,Offer1,Branch,897.600000,Luxury SUV,Medsize,A,2011-02-24,02,February
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NA,2011-02-06,02,February
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A,2011-02-13,02,February

In [35]:
new_data = data.query('Month == "01" or  Month == "02" or  Month == "03"')
new_data

,Unnamed:_0,Customer,State,Customer_Lifetime_Value,Response,Coverage,Education,Effective_To_Date,Employmentstatus,Gender,...,Policy,Renew_Offer_Type,Sales_Channel,Total_Claim_Amount,Vehicle_Class,Vehicle_Size,Vehicle_Type,Date,Month,Month _name
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NA,2011-02-18,02,February
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NA,2011-01-18,01,January
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2011-02-10,02,February
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,2011-01-11,01,January
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NA,2011-01-17,01,January
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A,2011-01-19,01,January
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A,2011-01-06,01,January
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NA,2011-02-06,02,February
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A,2011-02-13,02,February
10909,10909,IV32877,NA,6857.519928,NA,Basic,Bachelor,1/8/11,Unemployed,M,...,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NA,2011-01-08,01,January

In [36]:
def sanja():
    new_data = data.query('Month == "01" or  Month == "02" or  Month == "03"')
    return new_data
sanja()

,Unnamed:_0,Customer,State,Customer_Lifetime_Value,Response,Coverage,Education,Effective_To_Date,Employmentstatus,Gender,...,Policy,Renew_Offer_Type,Sales_Channel,Total_Claim_Amount,Vehicle_Class,Vehicle_Size,Vehicle_Type,Date,Month,Month _name
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NA,2011-02-18,02,February
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NA,2011-01-18,01,January
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2011-02-10,02,February
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,2011-01-11,01,January
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NA,2011-01-17,01,January
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A,2011-01-19,01,January
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A,2011-01-06,01,January
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NA,2011-02-06,02,February
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A,2011-02-13,02,February
10909,10909,IV32877,NA,6857.519928,NA,Basic,Bachelor,1/8/11,Unemployed,M,...,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NA,2011-01-08,01,January